<div>
  <%= form_for(@user)do |f|%>
    <%= f.label :bio%>
    <%= f.text_area :bio%>
    <br>
<%= f.submit "Update Profile", :class => "button", :style => "vertical-align:middle"%>





  <%end%>
</div>
