

 h2 {
   text-align: left;
 }

 .post-meta{
   font-size: 10px;
 }
.ui.menu:not(.vertical) .menu{
  color: white;
  font-size: 20px;
}

button {
  border-radius: 12px;
  padding: 16px 10px;
}
.ui.inverted.menu {
display: inline-block;
width: 50%!important;
}


a:link {
  /* color: red; */
  text-decoration: none;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

/* posts styling */
#post_content {
  margin: 0px;
  width: 75%;
  height: 155px;
}

/* user styles */
#user_bio{
  margin: 0px;
  width: 75%;
  height: 99px;
}
